.settings-page(data-template='account/settings')
  .container.page
    .row
      .col-md-6.offset-md-3.col-xs-12
        h1.text-xs-center Your Settings
        ul.error-messages(data-name='errors' data-list='{"list": "errors"}')
          li {key} #[span(data-bind='val:commaList:t')]
        form(data-act='form')
          fieldset
            fieldset.form-group
              input.form-control(type="text" name='image' placeholder="URL of profile picture" value='{o:user.image}')
            fieldset.form-group
              input.form-control.form-control-lg(type="text" name='username' placeholder="Your Name" value='{o:user.username}')
            fieldset.form-group
              textarea.form-control.form-control-lg(rows="8" name='bio' placeholder="Short bio about you") {o:user.bio}
            fieldset.form-group
              input.form-control.form-control-lg(type="text" name='email' placeholder="Email" value='{o:user.email}')
            fieldset.form-group
              input.form-control.form-control-lg(type="password" name='password' placeholder="Password")
            button.btn.btn-lg.btn-primary.pull-xs-right(type='submit') Update Settings
