.auth-page(data-template='account/signup')
  .container.page
    .row
      .col-md-6.offset-md-3.col-xs-12
        h1.text-xs-center Sign up
        p.text-xs-center
          a(data-href="login") Have an account?
        ul.error-messages(data-name='errors' data-list='{"list": "errors"}')
          li {key} #[span(data-bind='val:commaList:t')]
        form(data-act='form' data-prevent='true')
          fieldset.form-group
            input.form-control.form-control-lg(type="text" name='username' placeholder="Your Name")
          fieldset.form-group
            input.form-control.form-control-lg(type="text" name='email' placeholder="Email")
          fieldset.form-group
            input.form-control.form-control-lg(type="password" name='password' placeholder="Password")
          button.btn.btn-lg.btn-primary.pull-xs-right Sign up
