footer(data-template='common/footer')
  .container
    a.logo-font(data-href="/") conduit
    span.attribution
      | An interactive learning project from
      a(href="https://thinkster.io") Thinkster
      | . Code & design licensed under MIT.
