nav.navbar.navbar-light(data-template="common/navigation")
  .container
    a.navbar-brand(data-href="/") conduit
    ul.nav.navbar-nav.pull-xs-right
      li.nav-item
        a.nav-link.active(data-href="/") Home
      li.nav-item
        a.nav-link(data-href="editor")
          i.ion-compose New Post
      li.nav-item
        a.nav-link(data-href="settings")
          i.ion-gear-a Settings
      li.nav-item(data-bind='#:showTo,unknown')
        a.nav-link(href="login") Sign in
      li.nav-item(data-bind='#:showTo,unknown')
        a.nav-link(href="signup") Sign up
      li.nav-item(data-bind='#:hideFrom,unknown')
        a.nav-link(data-bind='@user.username:t:prefix,profile/@|attr,data-href')
