.editor-page(data-template='site/editor')
  .container.page
    .row
      .col-md-10.offset-md-1.col-xs-12
        ul.error-messages(data-name='errors' data-list='{"list": "errors"}')
          li {key} #[span(data-bind='val:commaList:t')]
        form(data-act='form')
          input(type='hidden' name='slug' value='{o:article.slug}')
          fieldset
            fieldset.form-group
              input.form-control.form-control-lg(type="text" name='title' placeholder="Article Title" value='{o:article.title}')
            fieldset.form-group
              input.form-control(type="text" name='description' placeholder="What's this article about?" value='{o:article.description}')
            fieldset.form-group
              textarea.form-control(rows="8" name='body' placeholder="Write your article (in markdown)") {o:article.body}
            fieldset.form-group
              input.form-control(type="text" placeholder="Enter tags" data-act='keypress' data-func='addTag')
              .tag-list(data-name='tagList' data-list='{"list": "article.tagList"}')
                span(class="tag-default tag-pill" data-act='click' data-func='removeTag')
                  i(class="ion-close-round")
                  span {val}
            button.btn.btn-lg.pull-xs-right.btn-primary(type="submit") Publish Article
