.profile-page(data-template='site/profile')
  .user-info
    .container
      .row
        .col-xs-12.col-md-10.offset-md-1
          img.user-img(data-src="{o:profile.image}")
          h4 {profile.username}
          p {o:profile.bio}
          button.btn.btn-sm.btn-outline-secondary.action-btn(data-act='click' data-func='toggleFollow' data-if='profile|canFollow')
            i.ion-plus-round #[span(data-bind='profile.following:either,Unfollow,Follow|t')] {profile.username}
          a.btn.btn-sm.btn-outline-secondary.action-btn(data-if='profile.username|equal,{@user.username}' data-href='settings')
            i.ion-gear-a Edit Profile Settings
  .container
    .row
      .col-xs-12.col-md-10.offset-md-1
        .articles-toggle
          ul.nav.nav-pills.outline-active
            li.nav-item
              a.nav-link(data-href="profile/@{profile.username}" data-bind='@route.id:not|toggleClass,active') My Articles
            li.nav-item
              a.nav-link(data-href="profile/@{profile.username}/favorited" data-bind='@route.id:bool|toggleClass,active') Favorited Articles
        .articles(data-list='{"list": "articles", "t": "common/article-preview", "alt": "common/article-preview/empty", "vars": {"v": "article"}}')

        nav
          ul.pagination(data-list='{"list": "pages", "vars": {"v": "page"}}')
            li.page-item(class='{o:page.cls}'): a.page-link(data-href='{@route.path}{page.link}') {page.index}
